html, body {
  padding: 0;
  margin: 0;
  height:100%;
}

body {
  font-family: "Ubuntu Mono", sans-serif;
  color: #eee;
  background-color: #222;
}

.header {
  text-align: center;
  background-color: #DF7E1A;
  padding: 8px;
}

.container {
  min-height:100%;
  position:relative;
}

.main {
  padding: 20px;
  padding-bottom: 10px;
  height: 100%
}

.post {
  padding-bottom: 6px;
}

footer {
  padding-top: 10px;
  position: absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}
